.ButtonRoundedSides {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  height: 55px;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
  width: 300px;
  background-color: var(--green);
  border-radius: 30px;
}
