.FooterHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: var(--grey8);
}

.LogoFobbiBlack {
  width: 11rem;
  height: auto;
}

.DivSocialNetworksFobbi {
  padding-top: 1rem;
}

.DivSite {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  padding-right: 1.4rem;
}

.TextSite {
  margin-right: 1.5rem;
  color: var(--background_light);
}

.ImageBallSite {
  width: 1rem;
  height: 1rem;
}

.DivSiteInstagran {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.2rem;
}

@media (max-width: 670px) {
  .FooterHome {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
  }

  .DivLogoFobbiBlack {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .DivSocialNetworksFobbi {
    display: block;
    justify-content: center;
    align-items: center;
  }
}
